// Normally mainpage media styles
// You can read about usage in https://github.com/paranoida/sass-mediaqueries 


//styles for custom device width
@include mq($max-width: 1300px){
	.main .container{
		width: 970px;
	}
	.box{
		width: 300px;
		margin-left: 20px;
		margin-bottom: 20px;
	}
	.news_list_link{
		position: static;
	}
	.product_info_slider{
		width: 100%;
		img{
			max-width: 100%;
		}
	}
	.product_info_slider .bx-next, .product_info_slider .bx-prev{
		display: none;
	}
}
@include mq($max-width: 1100px){	
	.main .container{
		width: 750px;
	}
	.box{
		width: 350px;
	}
	.box:nth-child(3n+1){
		margin-left: 20px;
	}
	.box:nth-child(2n+1){
		margin-left: 0;
	}
	.filter_wrap{
		.btn-default{
		margin-top: 0px;
		position: relative;
		left: 0px;
		font-size: 7px;
		i{
			display: none;
		}
		}
	}
	.filter_select select{
		width: 100%
	}
	.checkbox_label{
		font-size: 13px;
	}
	.product_item article img{
		width: 100%;
		float: none;
		padding: 0;
	}
	.capabilities_block{
		height: auto;
	}
	.capabilities_item figure{
		padding-bottom: 10px;
	}
	.product_info_slider{
		width: 100%;
		img{
			max-width: 100%;
		}
	}
	.product_info_slider .bx-next, .product_info_slider .bx-prev{
		display: none;
	}
}
@include mq($max-width: 900px){
	.main .container{
		width: 640px;
	}
	.box{
		width: 300px;
		margin-left: 10px;
		margin-bottom: 15px;
	}
	.box:nth-child(3n+1){
		margin-left: 10px;
	}
	.box:nth-child(2n+1){
		margin-left: 0;
	}
}
@include mq($width: 768px){
	.content{
		padding-left: 10px;
	}
}
@include mq($max-width: 767px){
	.main .container{
		width: auto;
		padding-left: 65px;
	}
	.sidebar{
		left: -170px;
		width: 220px;
	}
	.sidebar-head{
		padding: 50px 5px 10px;
	}
	.sidebar-nav ul li a{
		padding: 0 5px;
	}
	.sidebar-icon{
		width: 40px;
	}
	.box{
		width: 100%;
		margin-left: 0;
	}
	.box:nth-child(3n+1){
		margin-left: 0;
	}
	.box-body{
		height: auto;
		margin-bottom: 5px;
	}
	.nav-title{
		padding-left: 15px;
	}
	.bnr{
		display: none;
	}
	.product_info_slider{
		width: 100%;
		img{
			max-width: 100%;
		}
	}
	.product_info_slider .bx-next, .product_info_slider .bx-prev{
		display: none;
	}
}

/*--------------------------------------------*/


@include mq($max-width: 1000px) {
  .footer ul{
  	list-style-position: outside;
  }
  .footer {
  	font-size: 13px;
  }
  .main_form input.button{
  	font-size: 11px;
  }
  .button_group a{
  	font-size: 11px;
  }
  .button_group {
  	margin-top: 12px;
  }
  .status{
  	margin-top: 20px;
  }
}

@include mq($max-width: 767px) {
	.index_page{
		background:#000;
	}
	.wrapper{
		padding-top: 0;
	}
	.logo{
		text-align: center;
	}
	.header{
		position: relative;
		top: auto;
		left: auto;
		right: auto;
	}
	.head_left{
		padding-top: 33px;
	}
	.search{
		position: relative;
		top: auto;
		left: auto;	
		right: auto;
	}
	.footer{
		text-align: center;
		font-size: 15px;
		ul{
			list-style-position: inside;
		}
		.container > .row{
			& > div{
				border-left: none;
				padding-left: 0px;
				padding-bottom: 50px;
				&:first-child{
					border-left: none;
				}
			}
		}
	}
	.main_form{
		input, select{
			margin-bottom: 25px;
		}
	}	
	.button_group {
		text-align: center;
		margin-top: 5px;
	}

	.header{
		height: 160px;
	}
	.head_left{
		text-align: center;
	}
	.button_group{
		float: left;
	}
	.head_right{
		float: right;
	}
	.head_info{
		padding: 20px 0 0 0; 
	}
	.button_group a{
		display: block;
	}
}





@include mq($max-width: 500px) {
	.head_left{
		padding-top: 10px;
	}
	.head_right{
		width: 115px;
	}
	.button_group, .head_right{
		float: none;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.header{
		height: 180px;
	}
	.content h3 nav.pull-right{
		float: none !important;
		padding: 0;
	}
}
